### 크롤링 연습문제

#### 문제 1
- 네이버 금융 페이지에서 유가/환율/국제금 시세/국내금 시세 추출  
- url = 'https://finance.naver.com'

In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

In [2]:
from urllib.request import urlopen
import pandas as pd
import bs4
import requests

In [5]:
url = 'https://finance.naver.com/'
html = urlopen(url)
# 파서 객체 생성
bs_obj = bs4.BeautifulSoup(html, 'html.parser')

In [66]:
boxes = bs_obj.findAll('div', {'class' : 'section1'})
print(boxes[0].findAll('tr')[1].find('th').text,':',boxes[0].findAll('tr')[1].find('td').text)
boxes = bs_obj.findAll('div', {'class' : 'section2'})
print(boxes[1].findAll('th')[4].text.strip(),":",boxes[1].findAll('td')[2].text)
print(boxes[1].findAll('th')[10].text,":",boxes[1].findAll('td')[8].text)
print(boxes[1].findAll('th')[11].text.strip(),":",boxes[1].findAll('td')[10].text)

미국USD : 1,328.10
WTI(09.13) : 88.52
국제금(09.13) : 1,932.50
국내금(09.14) : 81,566.72

In [ ]:
# 유가 :  88.84
# USD :  1,328.00
# 국제금 :  1,935.10
# 국내금 :  81,781.70

#### 문제 2
- 네이버 증권 페이지에서 상한가 / 하한가 / 시가총액상위 기업 추출
- url = "http://finance.naver.com/sise/"

In [71]:
url = 'https://finance.naver.com/sise/'
html = urlopen(url)
# 파서 객체 생성
encoding = html.info().get_content_charset(failobj="utf-8")
bs_obj = bs4.BeautifulSoup(html, 'html.parser',from_encoding=encoding)

In [138]:
boxes = bs_obj.findAll('table', {'id' : 'siselist_tab_0'})
titles = boxes[0].findAll('a',{'class':'tltle'})[:3]

for ran, title in zip(range(1,4), titles):
    print(ran, title.text,"=",title.find_next('td').next)

1 피씨엘 = 3,980
2 엘에이티 = 8,030
3 엔젠바이오 = 8,760

In [ ]:
# ---------- 상한가 ----------
# 1 노루홀딩스우 = 48,900
# 2 이원컴포텍 = 4,120
# 3 에이스테크 = 2,425
# 4 노루페인트우 = 25,450
# 5 머큐리 = 8,370
# 6 애드바이오텍 = 4,910
# 7 썬테크 = 5,180
# 8 엔에스컴퍼니 = 4,845

In [142]:
boxes = bs_obj.findAll('table', {'id' : 'siselist_tab_1'})
titles = boxes[0].findAll('a',{'class':'tltle'})[:3]

for ran, title in zip(range(1,4), titles):
    print(ran, title.text,"=",title.find_next('td').next)

1 대유에이텍 = 355
2 골프존데카 = 1,180
3 바스칸바이오제약 = 6,800

In [ ]:

# ----------- 하한가 -----------
# 1 테크엔 = 289

In [111]:
fin_list = []
price_list = []

boxes = bs_obj.findAll('ul', {'class' : 'lst_pop'})

for x in boxes[0].findAll('a'):
    fin_list += x

for i in boxes[0].findAll('span'):
    if '상승' not in i and '하락' not in i:
        price_list += i
        
for ran, fin, price in zip(range(1,11), fin_list, price_list):
    print(f"{ran}. {fin} : {price}")

1. POSCO홀딩스 : 546,000
2. 에코프로 : 907,000
3. 삼성전자 : 71,200
4. 신성델타테크 : 49,150
5. 포스코DX : 53,600
6. 포스코인터내셔널 : 78,300
7. 엑세스바이오 : 12,080
8. 에코프로비엠 : 282,500
9. 루닛 : 220,500
10. 에스와이 : 6,700

In [ ]:

# ----------- 시가총액 상위 -----------
# 1 삼성전자 = 70,900
# 2 LG에너지솔루션 = 494,500
# 3 SK하이닉스 = 118,500
# 4 삼성바이오로직스 = 723,000
# 5 삼성전자우 = 57,500
# 6 POSCO홀딩스 = 529,000
# 7 현대차 = 189,800
# 8 삼성SDI = 558,000
# 9 LG화학 = 540,000
# 10 NAVER = 222,000